# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
main

# Folders
_obj
_test
.DS_Store
.idea/*

db/*
!db/config.ini
bin/*
!bin/.gitkeep

src/github.com/vgarvardt/rklotz/vendor/*
src/github.com/vgarvardt/rklotz/.glide/*

static/3rd-party/*
!static/3rd-party/.placeholder
