# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

profile.coverprofile

build/*
vendor/*

static/3rd-party/*
!static/3rd-party/.placeholder

.docker-run.sh
coverage.txt
