<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ description }}">
	<meta name="author" content="{{ author }}">

	<title>{{ title|safe }}</title>
	<link rel="shortcut icon" href="/assets/{{ theme }}/favicon.ico">

	<!-- Bootstrap Core CSS -->
	<link href="/assets/{{ theme }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Fonts -->
	<link href="/assets/{{ theme }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Custom Theme CSS -->
	<link href="/assets/{{ theme }}/css/grayscale.css" rel="stylesheet">
	<link href="/assets/{{ theme }}/css/blogo.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

	{% block body %}{% endblock %}

	<!-- Core JavaScript Files -->
	<script src="/assets/{{ theme }}/js/jquery-1.11.1.min.js"></script>
	<script src="/assets/{{ theme }}/js/bootstrap.min.js"></script>
	<script src="/assets/{{ theme }}/js/jquery.easing.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/assets/{{ theme }}/js/grayscale.js"></script>

</body>

</html>
