{% extends "./base.html" %}

{% block head_link %}
	<link href="/assets/select2/select2.css" rel="stylesheet">
	<link href="/assets/select2/select2-bootstrap.css" rel="stylesheet">
{% endblock %}

{% block foot_js %}
	<script src="/assets/select2/select2.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#id_tags").select2({
				tags: [],
				minimumInputLength: 2,
				ajax: {
					quietMillis: 400,
					dataType: 'json',
					url: "/autocomplete",
					data: function (term) {
						return {q: term}
					},
					results: function (data) {
						var results = [];
						var unique = {};
						$.each(data.tags, function(k, v) {
							if (!unique[v.toLowerCase()]) {
								unique[v.toLowerCase()] = v;
								results.push({id: v, text: v});
							}
						});
						return {results: results}
					}
				},
				initSelection: function(element, callback) {
					var results = [];
					$.each($(element).val().split(','), function(k, v) {
						results.push({id: v, text: v});
					});
					callback(results);
				}
			});
		});
	</script>
{% endblock %}

{% block body %}
<section class="container content-section">
	<div class="row">
		<div class="col-sm-offset-2">
			<h1>
				{% if post.UUID %}
					Edit Post
				{% else %}
					New Post
				{% endif %}
			</h1>
		</div>
	</div>

	{% include "./partial/alert.html" %}

	{% if preview %}
	<div class="panel panel-default panel-preview">
		<div class="panel-heading">{{ post.Title }}</div>
		<div class="panel-body">{{ post.HTML|safe }}</div>
	</div>
	{% endif %}

	<form class="form-horizontal" role="form" method="post" action="">
		{% if post.UUID %}
		<div class="form-group">
			<label class="col-sm-2 control-label">Navigate</label>
			<div class="col-sm-10">
				{% if post.Draft %}
					<span class="label label-success">Draft</span>
				{% else %}
					<span class="label label-primary"><a href="/{{ post.Path }}">{{ post.Path }}</a></span>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="form-group {% if errors.Title %}has-error{%endif%}">
			<label for="id_title" class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="id_title" name="Title" value="{{ post.Title }}">
				<span class="label label-danger">{{ errors.Title }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.Body %}has-error{%endif%}">
			<label for="id_body" class="col-sm-2 control-label">Body</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="id_body" name="Body" rows="20">{{ post.Body }}</textarea>
				<span class="label label-danger">{{ errors.Body }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.Format %}has-error{%endif%}">
			<label for="id_format" class="col-sm-2 control-label">Format</label>
			<div class="col-sm-10">
				<select class="form-control" id="id_format" name="Format">
					{% for f in formats %}
					<option value="{{ f.Name }}" {% if f.Name == post.Format %}selected{% endif %}>{{ f.Title }}</option>
					{% endfor %}
				</select>
				<span class="label label-danger">{{ errors.Format }}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="id_tags" class="col-sm-2 control-label">Tags</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="id_tags" name="Tags" value='{{ post.Tags|join:"," }}'>
			</div>
		</div>
		<div class="form-group {% if errors.Path %}has-error{%endif%}">
			<label for="id_path" class="col-sm-2 control-label">Path</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="id_path" name="Path" value="{{ post.Path }}">
				<span class="label label-danger">{{ errors.Path }}</span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="">
					<div class="form-group row">
						<div class="col-sm-3">
							<input type="text" class="form-control" placeholder="Auth Name" name="AuthName">
						</div>
						<div class="col-sm-3">
							<input type="password" class="form-control" placeholder="Auth Password" name="AuthPassword">
						</div>
						<div class="col-sm-6">
							<input type="hidden" name="UUID" value="{{ post.UUID }}">
							<button type="submit" class="btn btn-info btn-lg" name="op" value="preview">Preview</button>
							<button type="submit" class="btn btn-success btn-lg" name="op" value="draft">Draft</button>
							<button type="submit" class="btn btn-primary btn-lg" name="op" value="publish">Publish</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
{% endblock %}
