<section id="about" class="container content-section text-center">
	<hr>
	<div class="row">
		<div class="col-sm-2">
			<a href="/">
				<img src="/assets/{{ theme }}/img/portrait.jpg" alt="Vladimir Garvardt" id="about-photo">
			</a>
		</div>
		<div class="col-sm-7">
			<h2>Blogo by Vladimir Garvardt</h2>
			<p>Feel free to email me to provide some feedback on the project, give suggestions, or to just say hello!</p>
			<p>vgarvardt@gmail.com</p>
		</div>
		<div class="col-sm-3">
			<a href="https://twitter.com/vgarvardt" class="btn btn-default btn-lg btn-block" target="_blank">
				<i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
			</a>
			<a href="https://github.com/vgarvardt/blogo" class="btn btn-default btn-lg btn-block" target="_blank">
				<i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span>
			</a>
			<a href="http://linkedin.com/in/vgarvardt/" class="btn btn-default btn-lg btn-block" target="_blank">
				<i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span>
			</a>
			<a href="https://plus.google.com/+VladimirGarvardt/posts" class="btn btn-default btn-lg btn-block" target="_blank">
				<i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span>
			</a>
		</div>
	</div>
</section>
