{% extends "./base.html" %}

{% block arrow_attr%}id="content"{% endblock %}

{% block content %}
<div class="bg-post">
    <div class="container">

        <div class="row row-blog">
            <div class="col-md-8 col-md-offset-2 wrapper-blog posts-list">

                {% if not meta.Posts %}
                    <h2>Nothing yet =( But you can <a href="/@/new">write your first post</a>!</h2>
                {% else %}
                    {% include "./partial/posts.html" %}

                    <p class="text-center">Page {{ page + 1 }} of {{ meta.Pages }}</p>

                    {% if meta.Pages > 1 %}
                    <div class="row">
                        <div class="col-sm-12 col-pagination">
                            <ul class="pager">
                                {% if page == 0 %}
                                    <li class="previous disabled"><a href="#content">&larr; Newer</a></li>
                                {% else %}
                                    <li class="previous"><a href="/?page={{ page - 1 }}#content">&larr; Newer</a></li>
                                {% endif %}

                                {% if page + 1 >= meta.Pages %}
                                    <li class="next disabled"><a href="#content">Older &rarr;</a></li>
                                {% else %}
                                    <li class="next"><a href="/?page={{ page + 1 }}#content">Older &rarr;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}

                {% include "./partial/about.html" %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
