{% extends "./base.html" %}

{% block content %}
<div class="bg-post">
	<div class="container">
		<div class="row row-blog">
			<div class="col-md-8 col-md-offset-2 wrapper-blog" id="content">

				<div class="row">
					<div class="col-sm-12">
						<h1 class="title-post">
							{{ post.Title }}
							<sup><small><a href="/@/edit/{{ post.UUID }}"><i class="fa fa-pencil"></i></a></small></sup>
						</h1>
						{% include "./partial/info.html" %}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						{{ post.HTML|safe }}
					</div>
				</div>

				{% include "./partial/about.html" %}

				{% if disqus_key %}
				<div class="row">
					<div class="col-sm-12">
						<div class="wrapper-disqus">
						<!-- YOUR DISQUS CODE -->

						<!-- YOUR DISQUS CODE END -->
						</div>
					</div>
				</div>
				{% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
