name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    strategy:
      matrix:
        go-version: [1.13, 1.14]

    name: Test
    runs-on: ubuntu-latest
    container: golang:${{ matrix.go-version }}-stretch
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get test dependencies
      run: make deps

    - name: Run tests
      run: make test
